body {
  background-color: #EBEEF3;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #454545;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand i {
  font-size: inherit;
  line-height: inherit;
  margin-right: 7px;
  position: relative;
  top: 3px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 5px 20px 7px 20px;
  font-size: .8em;
  font-weight: 700;
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.center-align {
  text-align: center;
}