:root {
  --primary-color: steelblue;
  --secondary-color: #fce95c;
  --terciary-color: #ff3b3b;
}


body { 
  color: #444963;
  padding-top: 1em;
}

main {
  padding-bottom: 4em;
}

.navbar-action {
  display: block;
  margin-top: 8px;
  text-align: right;
}

.content {
  padding: 0 1rem;
}

.section {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.form {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #E7E8ED;
  background-color: #FAFAFC;
  text-align: left;
}

.form.file-1 {
  border-color: rgba(252, 234, 91, .6);
  background-color: rgba(252, 234, 91, .5);
}

.form.file-2 {
  border-color: rgba(70, 130, 180, .6);
  background-color:  rgba(70, 130, 180, .5);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.form input {
  margin-bottom: 1em;
}


.download-section {
  padding-top: 10px;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 0;
  font-size: 1.25em;
  font-weight: 700;
  color: inherit;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  margin: 0;

  background: white;
}

.inputfile + label > * {
  display: inline-block;
  vertical-align: middle;
}

.inputfile + label > .i {
  margin-right: 10px;
  padding: 10px 20px;
  /*font-size: 1.25em;*/
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
  border: 0;

  background-color: #428bca;
  border-color: #357ebd;

  color: white;
}

.inputfile + label > .i:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}

.inputfile + label.file-1-label  .i{
  
}

.inputfile + label.file-2-label .i {

}

.inputfile + label .truncate {
  display: inline-block;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.form .btn-primary {
  margin: 1em auto 0 auto;
  padding: 10px 20px;
  font-weight: 700;
}

.btn-download {
  border: 2px solid #262626;
}
.btn-download:hover {
  background: #E7E8ED;
  border: 2px solid #2E2E2E;
}
.btn-download i,
.btn-download span {
  margin-right: 10px;
  vertical-align: middle;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=search],
input[type=number] {
  width: 100%;
  border: 1px solid #E7E8ED;
}

textarea {
  width: 100%;
  height: 6em;
  resize: none;
  border: 1px solid #E7E8ED;
}

input[type=number] {
  width: 6em;
  display: block;
  font-size: 120%;
  padding: .5em;
  margin: 0 auto;
  text-align: center;
}



/* ---- Chart -----*/

.chart-container {
  background-color: #252525;
  background-image: url(/images/quadrants.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 500px;
  position: relative;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  color: white;
  margin-bottom: 6em;
}

svg:not(:root) {
  overflow: visible;
}

.chart-item {
  stroke: white;
}
text.chart-item {
  fill: white;
  stroke: 0;
}
.domain {
  stroke: white;
}
.tick line {
  stroke: white;
}

.tick text {
  font-size: 1.4em;
  stroke-width: 0;
  fill: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.control.line {
  stroke: #fce95c;
}
.intersection {
  stroke: #ff3b3b;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}



/* ----- Table ------*/

.analysis-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
}

table {
  width: 100%;
  margin: 2em auto 0 auto;
}

th {
  padding: 5px;
}

td {
  text-align: left;
  border: 1px solid lightgrey;
  padding: 5px;
}

td::after {
  font-weight: 500;
}



/* ---- Loading animation ---- */

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  from { -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg);}
  to { -webkit-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg);}
}

@keyframes spin {
  from { -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg);}
  to { -webkit-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg);}
}

.icon-animate {
  animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

.loading {
  display: inline-block;
  color: inherit;
  margin-right:auto;
  margin-left:auto;
  line-height: 2;
}

.loading-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
}

#loading-analysis {
  display: block;
}