<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main class='content'>

		<h2>Instructions</h2>

		<ul>
			<li>
				Please be sure to calibrate Polya-1 machine using the <b>3D-Goniometer Software</b> before performing tests.
			</li>

      <li>
        File #1 should be the controlled path to compare to.
      </li>

			<li>
				After recording the data, upload the file that the Goniometer software outputs.
			</li>

      <li>
        Each recording should be recorded to a new file.
      </li>
		</ul>

    <!--  -->
    <hr>
    <!--  -->

		<div class='row'>
			<div class='col-sm-6'>
				<form action="javascript:void(0)" class='form file-1'>

          <!-- <textarea class='input' placeholder="Copy/Paste readings here" data-id='1' id='data1' class='pasteInput'></textarea> -->

          <input class="inputfile" type="file" name="file1" id="file1" data-id='1'/>
          <label for="file1" class='file-1-label'>
            <i class="material-icons">cloud_upload</i>
            <span>File #1</span>
          </label>

          <!-- <div class='text-center'>
            <button class='btn btn-primary' type='submit'>Update</button>
          </div> -->

        </form>

        <div class='download-section' id='file1-download-section'>
          <button class='btn btn-download download-csv' data-file="1">
            <i class="material-icons">cloud_download</i>
            <span>Download file-1.csv</span>
          </button>
        </div>
      </div>

      <div class='col-sm-6'>
      	<form action="javascript:void(0)" class='form file-2'>

          <!-- <textarea class='input' placeholder="Copy/Paste readings here" data-id='2' id='data2' class='pasteInput'></textarea>  -->

          <input class="inputfile" type="file" name="file2" id="file2" data-id='2'/>
          <label for="file2" class='file-2-label'>
            <i class="material-icons">cloud_upload</i>
            <span>File #2</span>
          </label>

          <!-- <div class='text-center'>
            <button class='btn btn-primary' type='submit'>Update</button>
          </div> -->

				</form>

        <div class='download-section' id='file2-download-section'>
          <button class='btn btn-download download-csv' data-file="2">
            <i class="material-icons">cloud_download</i>
            <span>Download file-2.csv</span>
          </button>
        </div>
			</div>

		</div>

		<!--  -->
		<hr>
		<!--  -->

    <div class='text-center'>
      <h3>Precision Tolerance</h3>

      <p>
        The <b>tolerance</b> is the maximum path <i>deviation</i> to analyze.
        A value of <b>1.0</b> is set by default.
      </p>

      <p>
        The smaller the tolerance, the less margin for error and more precise the analysis will be.
      </p>

      <div class='row'>
        <div class='col-sm-4 col-sm-offset-4'>
          <form action="javascript:void(0)" class='form text-center'>

            <input id='tolerance' class='input' type='number' value="1" min="0" step="0.1" />

            <button class='btn btn-primary' type='submit'>Update</button>
          </form>
        </div>
      </div>
    </div>

    <!--  -->
    <hr>
    <!--  -->

    <section class='analysis-container'>

      <div id='loading-analysis'>
        <i class="loading material-icons icon-animate">3d_rotation</i>
        <br><br>
        <h3>Analyzing paths...</h3>
      </div>
    
      <table class='analysis' id="analysis">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>

        <tr>
          <td>Points Within Tolerance:</td>
          <td><span id='hits'></span></td>
        </tr>
        <!-- <tr>
          <td>Error Spread:</td>
          <td><span id='error'></span></td>
        </tr> -->
        <tr>
          <td>Path Coverage:</td>
          <td><span id='coverage'></span></td>
        </tr>
        <tr>
          <td>Quadrant I Accuracy:</td>
          <td><span id='q1accuracy'></span></td>
        </tr>
        <tr>
          <td>Quadrant II Accuracy:</td>
          <td><span id='q2accuracy'></span></td>
        </tr>
        <tr>
          <td>Quadrant III Accuracy:</td>
          <td><span id='q3accuracy'></span></td>
        </tr>
        <tr>
          <td>Quadrant IV Accuracy:</td>
          <td><span id='q4accuracy'></span></td>
        </tr>
        <tr>
          <td><b>Overall Positional Accuracy:</b></td>
          <td><span id='accuracy'></span></td>
        </tr>
      </table>


      <div class='download-section' id='download-analysis'>
        <button class='btn btn-download download-csv'>
          <i class="material-icons">cloud_download</i>
          <span>Download analysis.csv</span>
        </button>
      </div>

    </section>


    <!--  -->
    <hr>
    <!--  -->

    <div class='download-section text-right' id='download-chart'>
      <button class='btn btn-download download-png' id="download-chart">
        <i class="material-icons">cloud_download</i>
        <span>Downloand chart.png</span>
      </button>

      <br><br>
    </div>

		<section class='chart-container' id="chart-container">
			<i id='loading' class="loading material-icons icon-animate">3d_rotation</i>

      <div id='chart'></div>
		</section>

    



	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>